html, body {
  height: 100%;
}

body{
    background-color: #ffffff;
}
.navbar {
  position: fixed; /* me fija la navbar */
  z-index: 1000; /* le doy prioridad a la navbar*/
  top: 0;
}
.fixed-button {
  position: fixed;
  bottom: 2vw; 
  left: 2vw; 
}

.fixed-button button {
  padding: 1vw 2vw; 
  background-color: #ff0000; /* color del botonsuli */
  color: #fff; 
  border: none;
  border-radius: 5vw;
  cursor: pointer;
}

.fixed-button button:hover {
  background-color: #a50b00; /* Color cuando me paro en el boton */
}

.dolarbutton{
  text-decoration: none;
  color: #000;
  font-family: sans-serif;
}
.container-fluid{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #003366;
  text-align: center;
}
#Bienvenido{
  font-family: Sans-serif;
  padding-top: 5vw;
  text-align: center;
  margin-bottom: 2vw;
}

.principal {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 2vw 0vw;
  grid-auto-flow: row;
  margin: 1vw 1vw;
  margin-bottom: 0%;
  margin-bottom: 0.1vw;
  grid-template-areas:
    "Main";
  
}

.Titulo1 a, .Titulo2 a, .Titulo3 a {
  font-family: Sans-serif;
  text-decoration: none;
  color: #000;
  text-align: center; 
  padding: 2vw;
  width: 100%; 
}
.Titulo1, .Titulo2, .Titulo3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
  padding: 1vw; 
}

.carousel-item img {
  width: 100%;
  height: 22vw; 
  object-fit: cover; /*ajusta los bordes de la foto*/
  position: relative;
}
.Foto1 img, .Foto2 img, .Foto3 img { /* este tambien acomoda los tamaños de las fotos */
  width: 100%;
  height: 22vw; 
  object-fit: cover; 
  
}
.Foto1, .Foto2, .Foto3{
  border: 0.3vw solid #007bff;
  width: 100%; 
  height: 22vw; 
  overflow: hidden;
}
.Main {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1% 3%;
  
  grid-auto-flow: row;
  margin: 0 auto;
  grid-template-areas:
    "Quien-soy Dolares Transferencias";
  grid-area: Main;
}

.Quien-soy {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 0px 0px;
  margin: 0 7vw;
  grid-auto-flow: row;
  grid-template-areas:
    "Titulo1"
    "Foto1";
  grid-area: Quien-soy;
}

.Titulo1 { grid-area: Titulo1; }

.Foto1 { grid-area: Foto1; }

.Dolares {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 0px 0px;
  margin: 0 7vw;
  grid-auto-flow: row;
  grid-template-areas:
    "Titulo2"
    "Foto2";
  grid-area: Dolares;
}

.Titulo2 { grid-area: Titulo2; }

.Foto2 { grid-area: Foto2; }

.Transferencias {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  margin: 0 7vw;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Titulo3"
    "Foto3";
  grid-area: Transferencias;
}

.Titulo3 { grid-area: Titulo3; }

.Foto3 { grid-area: Foto3; }
.imagenota img {
  max-width: 100%; 
  height: auto; 
  margin-top: 1vw;
}
.linea-horizontal1{
  border: none; 
  color: #333333;
  height: 0.5vw; /* La altura de la linea divisora */
  background-color: #333333; 
  margin: 2vw 0;
}
.linea-horizontal2 {
  border: none; 
  height: 0.5vw; 
  color: #333333;
  background-color: #333333; 
  margin: 2vw 0; 
}
.Footer {  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Dejanosdatos redes";
  grid-area: Footer;
  margin-bottom: 8vw;
}

.Dejanosdatos { grid-area: Dejanosdatos; }

.redes { grid-area: redes; }


.redes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.redes ul {
  margin: 0;
  padding: 0;
}

.whatsapp{
  width: 6vw;
  margin-bottom: 1.2vw;
  margin-top: 0.5vw;
  margin-right: 1.7vw;
}
.Linkedin{
  width: 3.5vw;
  margin-bottom: 1.2vw;
  margin-right: 2vw;
}
.Instagram{
  width: 3.5vw;
  margin-bottom: 1.2vw;
  margin-right: 2.3vw;
}
.red {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
p{
  font-size: 1vw;
}
.logo{
  width: 5vw;
}
.Dejanosdatos{
  margin-left: 3vw;
}
/*************************************************************************************/
body {
  font-family: Arial, sans-serif;
}
.titulocompras{
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.navbar {
  background-color: #007bff; /* Azul */
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.table {
  margin-top: 3vw;
  margin-bottom: 3vw;
  width: 100%;
  overflow-x: auto; /* Añade una barra de desplazamiento horizontal si la tabla es demasiado ancha para la pantalla */

}


.btn-danger {
  color: white;
  background-color: #dc3545; /* Rojo */
}

.btn-primary {
  background-color: #007bff; /* Azul */
}

.footer {
  background-color: #333; /* Gris oscuro */
  color: white;
  width: 100%;
}
/******************************************************************/

@media (max-width: 767px) {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .logo {
    width: 17vw;
  }
  .carousel-item img {
    width: 100%;
    height: auto; 
  }
  .Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 3vw;
  }
  .Foto1,
  .Foto2,
  .Foto3 {
    width: 100%;
    margin-top: 2.2vw;
    height: 78vw;
    overflow: hidden;
    max-width: 250px;
  }
  .Foto1 img,
  .Foto2 img,
  .Foto3 img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  .Footer {
    display: flex;
    flex-direction: column;
  }
  .Dejanosdatos {
    width: 100%;
  }
  .imagenota {
    margin-top: -2vw;
  }
  .red {
    width: 100%;
  }
  .whatsapp {
    width: 13vw;
    margin-bottom: 1.2vw;
    margin-top: 1.5vw;
    margin-right: 0.5vw;
  }
  .Linkedin {
    width: 8vw;
    margin-bottom: 1.2vw;
    margin-right: 1.5vw;
  }
  .Instagram {
    width: 8vw;
    margin-bottom: 1.2vw;
    margin-right: 2vw;
  }
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .redes ul li {
    margin-right: 2vw;
  }
  .Footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Footer .redes ul {
    margin: 0;
    padding: 0;
  }
  .redes ul li img {
    width: 5vw;
  }
  #Bienvenido {
    margin-top: 15vw;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 3vw 0;
    box-sizing: border-box;
  }
  .btn-block {
    width: 100%;
  }
}




  


